examples/basic-scene.json
[
  {
    "id": "basic-scene-1",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 780,
    "wires": [["basic-scene-2"]]
  },
  {
    "id": "basic-scene-2",
    "type": "inovelli-status-manager",
    "name": "",
    "nodeid": "1",
    "color": "107",
    "level": 10,
    "duration": 30,
    "display": "2",
    "x": 990,
    "wires": [["basic-scene-3"]]
  },
  {
    "id": "basic-scene-3",
    "type": "api-call-service",
    "name": "",
    "server": "",
    "service_domain": "zwave_js",
    "service": "bulk_set_partial_config_parameters",
    "data": "",
    "mergecontext": "",
    "x": 1300,
    "wires": [[]]
  }
]
