examples/overwriting-manager-params.json
[
  {
    "id": "overwriting-manager-params-1",
    "type": "inovelli-status-manager",
    "name": "",
    "nodeid": "",
    "color": "107",
    "level": 10,
    "duration": 30,
    "display": "2",
    "x": 910,
    "y": 240,
    "wires": [["overwriting-manager-params-2"]]
  },
  {
    "id": "overwriting-manager-params-2",
    "type": "api-call-service",
    "name": "node 1",
    "server": "",
    "service_domain": "zwave_js",
    "service": "bulk_set_partial_config_parameters",
    "data": "{ \"color\": 255 }",
    "mergecontext": "",
    "x": 1110,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "over-writing-manager-params-comment",
    "type": "comment",
    "name": "",
    "info": "You can send payload parameters to override status manager settings (e.g. programatically setting a color or pulse type)",
    "x": 700,
    "y": 200,
    "wires": []
  },
  {
    "id": "overwriting-manager-params-0",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 540,
    "y": 240,
    "wires": [["overwriting-manager-params-5"]]
  },
  {
    "id": "overwriting-manager-params-5",
    "type": "function",
    "name": "",
    "func": "return {\n    payload: {\n        color: 1,\n        display: 3,\n    }\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 690,
    "y": 240,
    "wires": [["overwriting-manager-params-1"]]
  }
]
