examples/scene-to-multiple-switches.json
[
  {
    "id": "e23e089f.6aecb8",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 680,
    "wires": [["b38bd8b8.5a2af8"]]
  },
  {
    "id": "b38bd8b8.5a2af8",
    "type": "inovelli-status-manager",
    "name": "",
    "nodeid": "",
    "color": "107",
    "level": 10,
    "duration": 30,
    "display": "2",
    "x": 910,
    "wires": [["7c297c51.a04874"]]
  },
  {
    "id": "7c297c51.a04874",
    "type": "api-call-service",
    "z": "86e0312b.079b8",
    "name": "Grow",
    "server": "cdeacb62.bfde18",
    "version": 1,
    "debugenabled": false,
    "service_domain": "zwave_js",
    "service": "bulk_set_partial_config_parameters",
    "entityId": "switch.one, switch.two",
    "data": "",
    "dataType": "json",
    "mergecontext": "",
    "output_location": "payload",
    "output_location_type": "none",
    "mustacheAltTags": false,
    "x": 570,
    "wires": [[]]
  },
  {
    "id": "cdeacb62.bfde18",
    "type": "server",
    "name": "Home Assistant",
    "legacy": false,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true
  },
  {
    "id": "2f9b477.d2230b8",
    "type": "comment",
    "name": "",
    "info": "Note: Because you can select entityIds you can just select multiple for bulk_set_partial_config_parameters to get called to",
    "x": 860,
    "wires": []
  }
]
